{% extends 'base.html' %}
{% load static %}

{% block title %}Startseite{% endblock %}

{% block content %}
    <div class="fixed inset-0 -z-10 bg-cover bg-center bg-no-repeat"
         style="background-image: url('{% static 'images/Wohnzimmer.jpg' %}');">
    </div>

    <div id="main-content" class="grid grid-rows-[1fr_3fr_auto] h-screen gap-4 p-2">

        <div id="headder" class="w-full bg-gray-900/40 backdrop-blur-sm relativ">

            {% for profile in profiles %}
                {% if profile.user.username == "Daniel" %}
                    <div class="absolute top-[48%] left-[36%] -translate-x-1/2 flex flex-col items-center group">
                        <div class="relative w-[10vw] aspect-square">
                            <div class="absolute inset-0 rounded-full bg-gradient-to-r from-blue-700 to-purple-700 opacity-0 group-hover:opacity-100 blur-md scale-120 transition-all duration-500"></div>

                            <div class="rounded-full overflow-hidden w-full h-full transition-transform duration-300 group-hover:scale-110">
                                <img id="Daniel" src="{{ profile.picture.url }}" alt="{{ profile.user.username }}" class="w-full h-full object-cover">
                            </div>
                        </div>
                    <p class="mt-2 text-gray-300 text-lg text-center">{{ profile.user.username }}</p>
                </div>
                {% endif %}
            {% endfor %}

            {% for profile in profiles %}
                {% if profile.user.username == "Tristan" %}
                    <div class="absolute top-[20%] left-[42.5%] -translate-x-1/2 flex flex-col items-center group">
                        <div class="relative w-[8vw] aspect-square">
                            <div class="absolute inset-0 rounded-full bg-gradient-to-r from-blue-700 to-purple-700 opacity-0 group-hover:opacity-100 blur-md scale-120 transition-all duration-500"></div>

                            <div class="rounded-full overflow-hidden w-full h-full transition-transform duration-300 group-hover:scale-110">
                                <img id="Tristan" src="{{ profile.picture.url }}" alt="{{ profile.user.username }}" class="w-full h-full object-cover">
                            </div>
                        </div>
                    <p class="mt-2 text-gray-300 text-lg text-center">{{ profile.user.username }}</p>
                </div>
                {% endif %}
            {% endfor %}

            {% for profile in profiles %}
                {% if profile.user.username == "Luisa" %}
                    <div class="absolute top-[5%] left-[50%] -translate-x-1/2 flex flex-col items-center group">
                        <div class="relative w-[7vw] aspect-square">
                            <div class="absolute inset-0 rounded-full bg-gradient-to-r from-blue-700 to-purple-700 opacity-0 group-hover:opacity-100 blur-md scale-120 transition-all duration-500"></div>

                            <div class="rounded-full overflow-hidden w-full h-full transition-transform duration-300 group-hover:scale-110">
                                <img id="Luisa" src="{{ profile.picture.url }}" alt="{{ profile.user.username }}" class="w-full h-full object-cover">
                            </div>
                        </div>
                    <p class="mt-2 text-gray-300 text-lg text-center">{{ profile.user.username }}</p>
                </div>
                {% endif %}
            {% endfor %}

            {% for profile in profiles %}
                {% if profile.user.username == "Miriam" %}
                    <div class="absolute top-[20%] left-[57%] -translate-x-1/2 flex flex-col items-center group">
                        <div class="relative w-[8vw] aspect-square">
                            <div class="absolute inset-0 rounded-full bg-gradient-to-r from-blue-700 to-purple-700 opacity-0 group-hover:opacity-100 blur-md scale-120 transition-all duration-500"></div>

                            <div class="rounded-full overflow-hidden w-full h-full transition-transform duration-300 group-hover:scale-110">
                                <img id="Miriam" src="{{ profile.picture.url }}" alt="{{ profile.user.username }}" class="w-full h-full object-cover">
                            </div>
                        </div>
                    <p class="mt-2 text-gray-300 text-lg text-center">{{ profile.user.username }}</p>
                </div>
                {% endif %}
            {% endfor %}

            {% for profile in profiles %}
                {% if profile.user.username == "Wiebke" %}
                    <div class="absolute top-[47%] left-[64%] -translate-x-1/2 flex flex-col items-center group">
                        <div class="relative w-[10vw] aspect-square">
                            <div class="absolute inset-0 rounded-full bg-gradient-to-r from-blue-700 to-purple-700 opacity-0 group-hover:opacity-100 blur-md scale-120 transition-all duration-500"></div>

                            <div class="rounded-full overflow-hidden w-full h-full transition-transform duration-300 group-hover:scale-110">
                                <img id="Wiebke" src="{{ profile.picture.url }}" alt="{{ profile.user.username }}" class="w-full h-full object-cover">
                            </div>
                        </div>
                    <p class="mt-2 text-gray-300 text-lg text-center">{{ profile.user.username }}</p>
                </div>
                {% endif %}
            {% endfor %}
        </div>

        <div id="infos" class="w-11/12 justify-self-center bg-gray-900/40 flex flex-col justify-start items-center rounded-3xl p-6 overflow-auto">
            <h1 class="text-center text-white" style="font-size: clamp(2rem, 5vw, 8rem);"><u>Willkommen</u></h1>
            <p class="text-center text-gray-200 mt-4">Hier ist genug Platz für deinen Text...</p>
        </div>

        <footer class="w-full bg-gray-900/40 text-gray-200 text-center backdrop-blur-sm p-2 text-md">
            © 2025 Meine Familie
        </footer>
    </div>

{% endblock %}