{% extends 'base.html' %}
{% load static %}

{% block title %}Startseite{% endblock %}

{% block content %}
    <div class="fixed inset-0 -z-10 bg-cover bg-center bg-no-repeat"
         style="background-image: url('{% static 'images/Wohnzimmer.jpg' %}');">
    </div>

    <div id="main-content" class="flex flex-col items-center justify-center h-screen">

        <div id="headder" class="flex justify-center items-center bg-gray-800 opacity-90 p-10 rounded-lg">
            <div id="Daniel"></div>
            <div id="Tristan">
                <img class="rounded-full" src="/media/profile_pictures/Tristan.jpg" alt="Tristan">
            </div>
            <div id="Luisa"></div>
            <div id="Miriam"></div>
            <div id="Wiebke"></div>
        </div>
        <div class="flex justify-center space-x-6">
            <button class="rounded-full w-40 h-40 bg-blue-400 text-white font-bold text-xl"
                    hx-get="{% url 'familienbereich' %}"
                    hx-target="#main-content"
                    hx-swap="innerHTML settle:500ms">
                Max
            </button>
        </div>
    </div>

{% endblock %}