{% load static %}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Familienwebseite{% endblock %}</title>
    {% load static %}
    <link href="{% static 'css/dist/styles.css' %}" rel="stylesheet">

    <!-- HTMX einbinden -->
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        html, body {
            height: 100%;
        }
        #header {
            container-type: inline-size;
        }
    </style>
</head>
<body class="flex flex-col min-h-screen bg-gray-900 text-gray-200 font-sans">

    <main class="flex-grow">
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>
