{% load static %}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Familienwebseite{% endblock %}</title>
    {% load static %}
    {% now "U" as timestamp %}
    <link href="{% static 'css/dist/styles.css' %}?v={{ timestamp }}" rel="stylesheet">


    <!-- HTMX einbinden -->
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>

</head>
<body class="flex flex-col min-h-screen bg-gray-900 text-gray-200 font-sans">

    <main class="flex-grow">
        {% block content %}
        {% endblock %}
    </main>
    <script src="{% static 'scripts/main.js' %}?v=133"></script>
    <script src="{% static 'scripts/guest_lists.js' %}?v=001"></script>
</body>
</html>
